.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-sizing: border-box;
  height: $header-height;
  padding: 0 $header-padding-x;
  background-color: $color-white;
  box-shadow: $header-shadow;
}
